@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


@import '../css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'libs/variables';
@import 'libs/mixins';
@import 'libs/elements';


#main {
    @include media-breakpoint-up(lg) { 
        padding-left:5%;
     }    
    max-width: 60em + $size-header-pad*2;
    color: $text-color;    
    li, p, a {
        @include section__font;
    }
   
    .major h2 {
            padding-top: $size-header-pad * 0.75;
            padding-bottom: $padding;
            font-size: 2.5rem;             
    }        
    > section {
        border-top: solid 2px $bg;
        margin: $size-header-pad 0 0 0;
        padding: $size-header-pad 0 0 0;

        .course {
            font-size: $font-size;
            
            li {
                @extend .course;
            }
            a {
                @extend .course;
                color: $link-color;
            }
            & > li {
                padding-top: $padding;
             
             }
        }


        h3 {
            padding-top: $padding;
        }

        .work-item{
            @extend .container;
            a {
                @include section__font;
                text-decoration: none;
                @include linkcolor($link-color);
            }
            img {
                @extend .img-fluid;
            }
        }


        &:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
            h3 {
                padding-top: $padding;
            }
        }   
        
        .actions {
            padding: $padding*0.5;
            li {
                margin: $padding * 0.2;
                @extend .btn;
                background-color: transparent;
                border-color: $text-color;
                a {
                    padding: $padding* 0.5;
                    color: $text-color;
                }
                &:hover {
                    border-color: $section__link--hover;
                    color: $section__link--hover;
                }
            }
        }

        .labeled-icons{
            ul {
                @extend .list-inline;
            }
            li {
                @extend .list-inline-item;
                border-style: none;
                .contact {
                    @extend .d-flex;
                    h3 {
                        @extend .py-2;
                    }
                }
            }
            .label {
                @extend .sr-only;
            }
        }
    }
}